{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    
<head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Title -->
        <title>ZapSlot - Book Appointment</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		<link rel="icon" href="{% static 'main_static/img/logo/zapslot_logo_transparent.png'%}">
		
		{% comment %} <link rel="stylesheet" href="stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'main_static/css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		{% comment %} <link rel="stylesheet" href="{% static 'main_static/css/nice-select.css' %}"> {% endcomment %}
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'main_static/css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'main_static/css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'main_static/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/responsive.css' %}">
		
		<!-- Color CSS -->
		<link rel="stylesheet" href="{% static 'main_static/css/color/color1.css' %}">
        
        {% comment %} <link rel="stylesheet" href="{% static 'main_static/css/color/color2.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color3.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color4.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color5.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color6.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color7.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color8.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color9.css' %}">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color10.cs' %}s">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color11.cs' %}s">
        <link rel="stylesheet" href="{% static 'main_static/css/color/color12.cs' %}s"> {% endcomment %}


		<link rel="stylesheet" href="#" id="colors">
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
		{% block extra_css %}{% endblock  %}
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Medikit Color Plate -->
		<div class="color-plate">
			<a class="color-plate-icon"><i class="fa fa-cog fa-spin"></i></a>
			<h4>Medikit</h4>
			<p>Here is some awesome color's available on Medikit Template.</p>
			<span class="color1"></span>
			<span class="color2"></span>
			<span class="color3"></span>
			<span class="color4"></span>
			<span class="color5"></span>
			<span class="color6"></span>
			<span class="color7"></span>
			<span class="color8"></span>
			<span class="color9"></span>
			<span class="color10"></span>
			<span class="color11"></span>
			<span class="color12"></span>
		</div>
		<!-- /End Color Plate -->
	
        {% include "plugins/headers.html" %}
		
        
        {% block content %}{% endblock  %}
        
        {% include "plugins/footer.html" %}
        		
		<!-- jquery Min JS -->
        {% comment %} <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js"></script> {% endcomment %}
		<!-- jquery Migrate JS -->
		<script src="{% static 'main_static/js/jquery.min.js' %}"></script>
		<script src="{% static 'main_static/js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'main_static/js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'main_static/js/easing.js' %}"></script>

		<!-- Color JS -->
		{% comment %} <script src="{% static 'main_static/js/colors.js' %}"></script> {% endcomment %}

		<!-- Popper JS -->
		<script src="{% static 'main_static/js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'main_static/js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'main_static/js/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'main_static/js/slicknav.min.js' %}"></script>
		<!-- ScrollUp JS -->
        <script src="{% static 'main_static/js/jquery.scrollUp.min.js' %}"></script>
		<!-- Niceselect JS -->
		{% comment %} <script src="{% static 'main_static/js/niceselect.js' %}"></script> {% endcomment %}
		<!-- Tilt Jquery JS -->
		<script src="{% static 'main_static/js/tilt.jquery.min.js' %}"></script>
		<!-- Owl Carousel JS -->
        <script src="{% static 'main_static/js/owl-carousel.js' %}"></script>
		<!-- counterup JS -->
		<script src="{% static 'main_static/js/jquery.counterup.min.js' %}"></script>
		<!-- Steller JS -->
		<script src="{% static 'main_static/js/steller.js' %}"></script>
		<!-- Wow JS -->
		<script src="{% static 'main_static/js/wow.min.js' %}"></script>
		<!-- Magnific Popup JS -->
		<script src="{% static 'main_static/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- Counter Up CDN JS -->
		<script src="{% static 'main_static/cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'main_static/js/bootstrap.min.js' %}"></script>
		<!-- Main JS -->
		<script src="{% static 'main_static/js/main.js' %}"></script>


		
				<script>
$(document).ready(function() {
    $(".color1").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color1.css' %}");
        return false;
    });

    $(".color2").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color2.css' %}");
        return false;
    });

    $(".color3").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color3.css' %}");
        return false;
    });

    $(".color4").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color4.css' %}");
        return false;
    });

    $(".color5").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color5.css' %}");
        return false;
    });

    $(".color6").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color6.css' %}");
        return false;
    });

    $(".color7").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color7.css' %}");
        return false;
    });

    $(".color8").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color8.css' %}");
        return false;
    });

    $(".color9").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color9.css' %}");
        return false;
    });

    $(".color10").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color10.css' %}");
        return false;
    });

    $(".color11").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color11.css' %}");
        return false;
    });

    $(".color12").click(function() {
        $("#colors").attr("href", "{% static 'main_static/css/color/color12.css' %}");
        return false;
    });

    $('.color-plate .color-plate-icon').on("click", function() {
        $('.color-plate').toggleClass('active');
    });
});
</script>

        {% block extra_js %}{% endblock  %}
    </body>

</html>