{% extends "base.html" %}
{% load static %}
{% block content %}
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Meet Our Qualified Doctors</h2>
							<ul class="bread-list">
								<li><a href="index-2.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Doctors</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Start Team -->
		<section id="team" class="team section single-page">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="img/team1.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>Neurosurgeon</p>
								<h2><a href="doctor-details.html">Collis Molate</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div>	
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<!-- Team Head -->
							<div class="t-head">
								<img src="img/team2.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<!-- Team Bottom -->
							<div class="t-bottom">
								<p>Neurosurgeon</p>
								<h2><a href="doctor-details.html">Domani Plavon</a></h2>
							</div>
							<!--/ End Team Bottom -->
						</div>
						<!-- End Single Team -->
					</div>	
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<!-- Team Head -->
							<div class="t-head">
								<img src="img/team3.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<!-- Team Bottom -->
							<div class="t-bottom">
								<p>Dental Surgeon</p>
								<h2><a href="doctor-details.html">John Mard</a></h2>
							</div>
							<!--/ End Team Bottom -->
						</div>
						<!-- End Single Team -->
					</div>		
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<!-- Team Head -->
							<div class="t-head">
								<img src="img/team4.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<!-- Team Bottom -->
							<div class="t-bottom">
								<p>Neurosurgeon</p>
								<h2><a href="doctor-details.html">Amanal Frond</a></h2>
							</div>
							<!--/ End Team Bottom -->
						</div>
						<!-- End Single Team -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<div class="t-head">
								<img src="img/team1.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<div class="t-bottom">
								<p>Neurosurgeon</p>
								<h2><a href="doctor-details.html">Collis Molate</a></h2>
							</div>
						</div>
						<!-- End Single Team -->
					</div>	
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Team -->
						<div class="single-team">
							<!-- Team Head -->
							<div class="t-head">
								<img src="img/team2.jpg" alt="#">
								<div class="t-icon">
									<a href="appointment.html" class="btn">Get Appointment</a>
								</div>
							</div>
							<!-- Team Bottom -->
							<div class="t-bottom">
								<p>Neurosurgeon</p>
								<h2><a href="doctor-details.html">Domani Plavon</a></h2>
							</div>
							<!--/ End Team Bottom -->
						</div>
						<!-- End Single Team -->
					</div>			
				</div>
			</div>
		</section>
		<!--/ End Team -->
		
		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Sign up for newsletter</h6>
							<p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="https://wpthemesgrid.com/themes/medikit/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->
{% endblock  %}