{% extends "base.html" %}
{% block content %}
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Time Table</h2>
							<ul class="bread-list">
								<li><a href="index-2.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Time Table</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		
		<!-- Start Doctor Calendar Area -->
        <section class="doctor-calendar-area section">
            <div class="container">
                <div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Determine Your Date to Come</h2>
							<img src="img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
                <div class="row">
					<div class="col-12">
						<div class="doctor-calendar-table table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Time</th>
										<th>Monday</th>
										<th>Tuesday</th>
										<th>Wednesday</th>
										<th>Thursday</th>
										<th>Friday</th>
										<th>Saturday</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td><span class="time">9.00</span></td>
										<td>
											<h3>Dr. Tanner</h3>
											<span>Dermatologists</span>
										</td>
										<td>
											<h3>Dr. Kwak</h3>
											<span>Ear, Nose</span>
										</td>
										<td>
											<h3>Dr. Slaughter</h3>
											<span>Neurologist</span>
										</td>
										<td></td>
										<td>
											<h3>Dr. Foley</h3>
											<span>Oncologist</span>
										</td>
										<td>
											<h3>Dr. Palmer</h3>
											<span>Maxine lowe</span>
										</td>
									</tr>

									<tr>
										<td><span class="time">12.00</span></td>
										<td></td>
										<td>
											<h3>Dr. Megahead</h3>
											<span>Orthopedics</span>
										</td>
										<td>
											<h3>Dr. Neupane</h3>
											<span>Pain Management</span>
										</td>
										<td>
											<h3>Dr. Breidin</h3>
											<span>Radiologist</span>
										</td>
										<td></td>
										<td>
											<h3>Dr. Pipe</h3>
											<span>Surgeons</span>
										</td>
									</tr>

									<tr>
										<td><span class="time">15.00</span></td>
										<td>
											<h3>Dr. Tanner</h3>
											<span>Dermatologists</span>
										</td>
										<td>
											<h3>Dr. Kwak</h3>
											<span>Ear, Nose</span>
										</td>
										<td></td>
										<td>
											<h3>Dr. Slaughter</h3>
											<span>Neurologist</span>
										</td>
										<td>
											<h3>Dr. Foley</h3>
											<span>Oncologist</span>
										</td>
										<td></td>
									</tr>

									<tr>
										<td><span class="time">18.00</span></td>
										<td>
											<h3>Dr. Slaughter</h3>
											<span>Neurologist</span>
										</td>
										<td>
											<h3>Dr. Megahead</h3>
											<span>Orthopedics</span>
										</td>
										<td>
											<h3>Dr. Neupane</h3>
											<span>Pain Management</span>
										</td>
										<td>
											<h3>Dr. Breidin</h3>
											<span>Radiologist</span>
										</td>
										<td>
											<h3>Dr. Kwak</h3>
											<span>Ear, Nose</span>
										</td>
										<td>
											<h3>Dr. Pipe</h3>
											<span>Surgeons</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
        </section>
        <!-- End Doctor Calendar Area -->
		
		<!-- Start Newsletter Area -->
		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Sign up for newsletter</h6>
							<p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="https://wpthemesgrid.com/themes/medikit/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>
		<!-- /End Newsletter Area -->
{% endblock %}